@{
    ViewData["Title"] = "Rock Climbing";
}

<div class="text-center">
    <h1 class="display-4">Assignment 2 - Rock Climbing</h1>
    <p>A web application that I can use to track the climbs I am working on, completed or yet to start 
        for various climbing gyms accross the world</p>
</div>
